<h1><%=  @task.title %></h1>
<p><%= @task.details %></p>
<p><input type="checkbox"><%= @message %></p>
<%= link_to "Back to list", root_path  %>
<%= link_to "Edit Task", edit_task_path(@task.id)  %>

<%= link_to 'delete',
  delete_task_path(@task),
  data: { confirm: 'Are you sure?' },
  method: :delete %>
